@media screen and (min-width: 701px) and (max-width: 900px) {
    #logo{
        display: none;
    }
	
	#header {
		display: grid;
        grid-template-columns: 1fr auto auto auto auto;
        align-content: center;
    }


}

@media screen and (prefers-reduced-motion: reduce){
  #logo{
          animation: none;
  }
}
@media screen and (max-width: 700px) {  
    #logo{
        display: none;
    }
	#image1，#image2，#image3{
        display: none;
    }
    #header {
        grid-template-columns: auto auto auto auto auto;
        padding: 1em 1em;
    }

    #header a:first-child {
        display: none;
    }

    #header a {
        text-align: center;
        font-size: 0.5em;
        padding: 0;
    }

    #banner {
        background-size: cover;
        background-position-x: 50%;
    }
    .feature {
        grid-template-columns: 1fr;
        padding:2em;
        margin:0em;
    }

    .feature .content {
        padding: 1em;
        font-size: 0.8em;
    }

    .contact-form form {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .contact-form .contact-name {
        height: 3em;
        margin: 0.5em 0.2em 0.2em 0.5em;
    }
    
    .contact-form .contact-email {
        height: 3em;
        margin: 0.5em 0.5em 0.2em 0.2em;
    }

    .contact-form textarea {
        margin: 0.5em;
    }

    .contact-form .submit {
        width: 20%;
        margin: 0.5em 1em 0.5em auto;
    }

    .contact-form .reset {
        width: 20%;
        margin: 0.5em auto 1em 0.5em;
    }

    .flip-card{
        width: 295px;
        height: 220px;
    }
    .image-grid {
        flex-direction: column;
    }

    .image-grid .image {
        width: 80%;
    }
}