html {
    width: 100%;
}

body {
    margin: 0;
}
@-webkit-keyframes logo_wiggle{
  from {width: 10px;}
  to {width: 80px;}
}

@keyframes logo_wiggle{
  from {width: 10px;}
  to {width: 80px;}
} 

#logo{
  -webkit-animation-name:logo_wiggle;
  animation-name: logo_wiggle;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
/* nav */
#header {
    background-color:#1E2832;
    display: grid;
    grid-template-columns: 80px auto auto auto auto auto;
    align-content: center;
}

#header a {
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1.5em;
    color:lightgrey;
    
}
    
h1 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px rgb(119,181,240), 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}
h2 {
    font-size: 1.2em;
    top: 0em;
    left: 10px;
}

/* banner */
#banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position-y: 25%;
    text-align: center;
    padding: 10em 0 7em 0;
    vertical-align: baseline;
}

#banner h2 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    padding: 0;

}

.education{
    background-color: transparent;
}

.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5em;
    background-clip: content-box;
    background-color: #EEE;
    border-radius: 1em;
    overflow: hidden;
    grid-auto-rows: dense;
}

.feature .image {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.feature .content {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 3em;
}

.feature .content p{
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-size: large;
}

/* flipcard */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: grid;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
.feature.left .flip-card-back {
    background-color: rgb(141,114,216);
    color: white;
    text-align: center;
    vertical-align: middle;
    transform: rotateY(180deg);
}

.feature.right .flip-card-back {
    background-color: rgb(32,83,216);
    color: white;
    text-align: center;
    vertical-align: middle;
    transform: rotateY(180deg);
}


.flip-card-back h2{
    font-size: 2em;
    font-family: Georgia, serif;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

.actions li {
    text-align: center;
}

.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #51BAA4;
    color: rgb(0, 77, 0) !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 2.85em;
    font-weight: 700;
    line-height: 2.95em;
    min-width: 30%;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

/* gallery */

.inner {
    background-color: transparent;
}

.inner h2{
    font-size: 2.5em;
    margin: 1em 0 1em 0;
    padding: 0;
    text-align: center;
}
/* gallery text */

section.special {
    text-align: center;
    padding: 3em 0 4em 0;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0;
}

header.major {
    margin-bottom: 2em;
}

.inner {
    margin: 0 auto;
}

/* gallery image */

.image-grid {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4em; 
    justify-content: center;
}

.image-grid .image {
    margin: 5px;
    width: 20%;
    justify-content: center;
    align-self: center;
}

.image-grid .image img {
    width: 100%;
}

/* working contact */
.contact-form {
    background-color: #1E2832;
    width: 100%;
}

.contact-form h2 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    padding-top: 2em;
}

.contact-form form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50% 50%;
    align-content: center;
    background-color: transparent;
    padding: 1em 0 2em 0;
    width: 70%;
    margin: 0 auto;
}

.contact-form .contact-input {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: transparent;
    color: inherit;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-align: start;
}

.contact-form .contact-name {
    height: 3em;
    margin: 1em 0.5em 0.5em 1em;
}

.contact-form .contact-email {
    height: 3em;
    margin: 1em 1em 0.5em 0.5em;
}

.contact-form .contact-input:focus {
    color: white;
}

.contact-form textarea {
    grid-column: 1/3;
    margin: 1em;
    height: 10em;
}

.contact-form .submit {
    background-color: #51BAA4;
    box-shadow: none;
    color: #fff !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 2.95em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 30%;
    height: 2.85em;
    margin: 1em 2em 1em auto;
}

.contact-form .reset {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2.5em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 2.95em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 30%;
    height: 2.85em;
    margin: 1em auto 2em 1em;
}


/* footer */
#footer {
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-bottom: 3em;
    padding-top: 2em;
}

#footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
}

#footer a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #a5a9ad;
}

#footer .fab {
    font-size: 2em;
}

/* background */
.parallax {
  /* The image used */
  background-image: url("../images/parallex.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#grid1{
  background-color: grey;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 30px; 
}
.school, .skill{
  background-color: white;
  border: 10px solid black;
  padding: 30px;
  grid-column: 1/4;
}
/* project */
.project_body {
  margin: 2rem;
  line-height: 1.5;
  justify-content:center
}
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

header.major {
    margin-bottom: 0em;
}

header.special {
    text-align: center;
}

header.major h2 {
    padding: 2em;
    margin:0em;
    font-size: 2em;
}

.image.fit img {
    width: 60%;
    height: 60%;
    align-items: center;
}
/* gallery */
.wrapper{
    background-image:url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.image-grid .image:hover{
	filter: grayscale(100%);
}

.wrapper .container .image.fit img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30%;
}

.wrapper .container p{
    padding:1em 3em;
    margin:2em;
    border: 2px solid rgb(240, 200, 155);
    background-color: #EEE;

}
